/*@media screen and (min-width: 701px){
	.menu1{
		margin-left:28.5%; 
	}
	img,p,.menu1,.menu2,.menu3,.menu4,.menu4_1,.menu3_1,.menu3_2,.menu2_1{
				width: 100%;
			}*/

/*}*/
@media screen and (min-width: 481px) and (max-width: 700px){
			img,.menu2,.menu3,.menu4,.menu4_1,.menu3_1,.menu3_2,.menu2_1{
				width: 100%;
			}
			.menu3_2{
				width: 100% !important;
			}
			.menu3_1{
				width: 100% !important;
			}
			.menu1{
				width: 90% !important;
				margin: auto !important;
			}
			.images{	
				float: left;
				width: 48% !important;
				padding: 5px 0.5% 5px;
			}
			textarea{
				width: 99%;
			}
			input{
				width: 99%;
			}

			
		}

@media screen and (max-width: 480px){
	.menu3,.menu4,.menu4_1,.menu2_1,.images{
		width: 100%;
	}
	.menu3_2{
		width: 100% !important;
	}
	.menu3_1{
		width: 100% !important;
	}
	.images{
		width: 100% !important;
	}
	.menu1{
		margin-left:24%; 
	}
	.img{
		float: none;

	}
	img{
		width: 100%;
	}
	textarea{
		width: 99%;
	}
	input{
		width: 99%;
	}
	.text{
		display:none;
	}
}
*{
	padding: 0px;
	margin: 0px;
}
.bg{
	background: ;
	width: 80%;
	height: auto;
	margin-left:10%;
	margin-right:10%; 
	margin-top: 1.5%;

}

.bg>div>ul>li{	
	float: left;
	list-style: none;
	border-bottom: 1px solid;
	border-top:1px solid;
	padding-left: 1px;
	padding-right: 10px; 

}
.menu1{
	background: ;	
	height: 100px;
	margin-left:28%;
	margin-right:28%; 
	
}
.menu1>ul>.img{
	border-bottom: 0px;
	border-top: 0px; 
	margin-top: -20px;	 
}

.menu2{
	width: 100%;
	padding-top: 80px;
	background: #f4f5f7;
	height: auto;
	margin-top: -20px;
}
.menu2_1{
	height: auto;
	background: ;
}
.menu2_2{
	background: ;
	width: 90%;
	height: auto; 
	margin-left:5% ; 
	margin-right:5% ; 
}


img{	
	height: 160px;
}
.images{
	width: 30%;
	float: left;
	text-align: center;
	height: auto;
	padding-left: 30px;
}
/*.g{
	width: 100%;
	background: blue;
	height: 220px;
}*/
.menu3{
	width: 80%;
	height: auto;
	background: ;
	margin-left:10%; 
	margin-right:10%;
}
.menu3_1{
	background: ;
	width: 70%;
	float: left;
	height: auto;
}
.menu3_2{
	float:left; 
	width: 25%;
	height: ;
	background: ;
}
.fa-twitter{
	color: #337ab7;

}
.fa-facebook{
	padding-left:30px;
	color: #022a4c; 
}
.fa-instagram{
	padding-left: 30px;
	color: #c10f93; 
}


.menu4{
	background: #00a08e;
	width: 80%;
	height: auto;
	margin-left:10%; 
	margin-right:10%;
}
.menu4_1{
	padding-top:50px; 
}
img:hover{
	/*display: none;*/
	transform:scale(1.5,1.5);
	/*transform: rotate(45deg);*/

	transition: 1s;
}
.clearfix{
	clear: both!important;
}


